.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0A97B0;
}

.navitem {
  float: left;
}

.navitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem a:hover:not(.active) {
  background-color: #4CD3C2;
}

.active {
  background-color: #F54291;
}

body {
	background-color: #fff7fc; 
}

hr{
	color: #F54291;
}