.navbar {
  list-style-type: none;
  display: inline-block;
  width:50%;
  position:relative;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #FDF7FA; /*light baby pink*/
}

.navitem {
  float: left;
  text-align: center;
}

.navitem a {
  display: block;
  color: #0a97b0c7;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 20px;
}

/*teal*/
.navitem a:hover:not(.active) {
  color: #10c5e5c7;
}

/*pink*/
.navitem .active {
  color: #F54291;
}

/*light light light pink*/
body {
	background-color: #FDF7FA; 
}

hr{
	color: #F54291;
}

.logoimg{
  position:relative;
  height: auto;
  width: 15%;
  justify-content: center;
}








* {
  box-sizing: border-box;
}

/* Float three columns side by side */
.column {
  float: left;
  width: 33.3%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  text-align: center;
  background-color: #f1f1f1;
  transition: 0.3s;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.4);
}

img {
  border-radius: 10px 10px 10px 10px;
}





